a {
    color: blue;
}
header {
    font-family:'Times New Roman', Times, serif;
}
article {
    font-family: cursive;
}
body {
    background-color: burlywood;
}
li {
    list-style-type: lower-roman;
}
th {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
}

th,td {
    font-family: cursive;
}